<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start</key>
		<string>45.422652,-73.652203</string>
		<key>end</key>
		<string>45.408565,-73.659467</string>
		<key>name</key>
		<string>Mercier</string>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.408442,-73.659300</string>
		<key>end</key>
		<string>45.422584,-73.651624</string>
		<key>name</key>
		<string>Mercier</string>
		<key>direction</key>
		<string>1</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.580650,-73.485491</string>
		<key>end</key>
		<string>45.586200,-73.511472</string>
		<key>name</key>
		<string>Louis-Hippolyte Lafontaine</string>
		<key>direction</key>
		<string>1</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.586189,-73.512433</string>
		<key>name</key>
		<string>Louis-Hippolyte Lafontaine</string>
		<key>end</key>
		<string>45.580933,-73.487633</string>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.522157,-73.519177</string>
		<key>name</key>
		<string>Jacques-Cartier</string>
		<key>end</key>
		<string>45.525795,-73.554619</string>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.494149,-73.515298</string>
		<key>end</key>
		<string>45.487089,-73.545745</string>
		<key>name</key>
		<string>Victoria</string>
		<key>direction</key>
		<string>1</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.464765,-73.470087</string>
		<key>end</key>
		<string>45.471058,-73.550726</string>
		<key>name</key>
		<string>Champlain</string>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.465245,-73.475661</string>
		<key>end</key>
		<string>45.471232,-73.551204</string>
		<key>name</key>
		<string>Champlain</string>
		<key>direction</key>
		<string>1</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.487169,-73.544422</string>
		<key>end</key>
		<string>45.493181,-73.515397</string>
		<key>name</key>
		<string>Victoria</string>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>start</key>
		<string>45.522157,-73.519177</string>
		<key>end</key>
		<string>45.525795,-73.554619</string>
		<key>name</key>
		<string>Jacques-Cartier</string>
		<key>direction</key>
		<string>1</string>
	</dict>
</array>
</plist>
